In [3]:
import pandas as pd

In [ ]:
df_a = pd.read_csv(r'ETL/amazon_prime_titles_ETL.csv')
df_d = pd.read_csv(r'ETL/disney_plus_titles_ETL.csv')
df_h = pd.read_csv(r'ETL/hulu_titles_ETL.csv')
df_n = pd.read_csv(r'ETL/netflix_titles_ETL.csv')

In [ ]:
df_a['platform'] = ['amazon' for i in range(9668)]
df_d['platform'] = ['disney' for i in range(1450)]
df_h['platform'] = ['hulu' for i in range(3073)]
df_n['platform'] = ['netflix' for i in range(8807)]

In [ ]:
Union_DataBase = pd.concat([df_a, df_d, df_h, df_n])

In [ ]:

Union_DataBase[Union_DataBase['platform']=='amazon']

In [ ]:
Union_DataBase.info()

In [ ]:
Union_DataBase = Union_DataBase.set_index('id')

In [ ]:
for x in Union_DataBase.index:
  if Union_DataBase.loc[x, "duration_int"] == 'sin dato':
    Union_DataBase.loc[x, "duration_int"] = 0

In [ ]:
for x in Union_DataBase.index:
  if Union_DataBase.loc[x, "duration_int"] == 'sin':
    Union_DataBase.loc[x, "duration_int"] = 0

In [ ]:
Union_DataBase['duration_int'] = Union_DataBase['duration_int'].astype('int64')

In [ ]:
Union_DataBase["duration_int"].max()

In [ ]:
Union_DataBase.info()

In [ ]:
Union_DataBase.to_csv('platform.csv')

In [23]:
df_1 = pd.read_csv(r'ETL/1.csv')
df_2 = pd.read_csv(r'ETL/2.csv')
df_3 = pd.read_csv(r'ETL/3.csv')
df_4 = pd.read_csv(r'ETL/4.csv')
df_5 = pd.read_csv(r'ETL/5.csv')
df_6 = pd.read_csv(r'ETL/6.csv')
df_7 = pd.read_csv(r'ETL/7.csv')
df_8 = pd.read_csv(r'ETL/8.csv')

In [ ]:
df_1.head(3)

In [24]:
df_ml = pd.concat([df_1,df_2,df_3,df_4,df_5,df_6,df_7,df_8])

In [25]:
rating_promedio = df_ml[['movieId','rating']].groupby('movieId').mean()

In [58]:
rating_promedio.to_csv('rating_p.csv')

In [59]:
rating = pd.read_csv('rating_p.csv')

In [61]:
rating = rating.set_index('movieId')

In [62]:
rating.head(3)

           rating
movieId
as1      3.467131
as10     3.439571
as100    3.609302

In [40]:
rating_promedio.head(3)

           rating
movieId
as1      3.467131
as10     3.439571
as100    3.609302

RangeIndex(start=0, stop=22998, step=1)

In [32]:

x = 'ds132'
if rating.loc[x, "rating"] > 1.2:
    print(rating.loc[x, "rating"])

KeyError: 'ds132'

In [22]:
X = rating[rating['id']=='ns34']['rating']


print(X)

16858    3.6
Name: rating, dtype: float64

In [ ]:
prueba_r = rating_promedio

for i in prueba_r.index:
    prueba_r.loc[i, 'rating'] = round(prueba_r.loc[i, 'rating'],1)

In [ ]:
prueba_r.head(3)