In [5]:
import pandas as pd

In [6]:
platform = pd.read_csv('platform.csv')

In [7]:
platform_movies = platform[platform['type']=='movie']

In [8]:
platform_movies = platform_movies.sort_values(['id'])

In [9]:
rating = pd.read_csv('rating_movies.csv')
rating = rating.drop(['Unnamed: 0'], axis=1)

In [10]:
rating = rating.sort_values(['movieId'])

In [11]:
platform_movies['index'] = [i for i in range(16481)]

In [12]:
rating['index'] = [i for i in range(16481)]

In [13]:
rating = rating.set_index(['index'])

In [14]:
rating.head(3)

      movieId    rating
index
0         as1  3.467131
1        as10  3.439571
2       as100  3.609302

In [15]:
platform_movies = platform_movies.set_index(['index'])

In [16]:
platform_movies = platform_movies.rename(columns={'rating':'rating_movies'})

In [17]:
platform_movies.head(3)

,id,type,title,director,cast,country,date_added,release_year,rating_movies,listed_in,description,duration_int,duration_type,platform
index,,,,,,,,,,,,,,
0,as1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,"comedy, drama",a small fishing village must procure a local d...,113,min,amazon
1,as10,movie,david's mother,robert allan ackerman,"kirstie alley, sam waterston, stockard channing",united states,2021-04-01,1994,g,drama,sally goodson is a devoted mother to her autis...,92,min,amazon
2,as100,movie,wilder napalm,glenn gordon caron,"debra winger, dennis quaid, arliss howard, m. ...",sin dato,sin dato,1993,pg-13,"comedy, science fiction",two brothers with the secret power of starting...,109,min,amazon

In [18]:
rating_movies = pd.concat([rating, platform_movies], axis= 1)

In [19]:
rating_movies['indice'] = rating_movies.index

In [138]:
rating_movies.head(3)

,movieId,rating,id,type,title,director,cast,country,date_added,release_year,rating_movies,listed_in,description,duration_int,duration_type,platform,indice
index,,,,,,,,,,,,,,,,,
0,as1,3.467131,as1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,"comedy, drama",a small fishing village must procure a local d...,113,min,amazon,0
1,as10,3.439571,as10,movie,david's mother,robert allan ackerman,"kirstie alley, sam waterston, stockard channing",united states,2021-04-01,1994,g,drama,sally goodson is a devoted mother to her autis...,92,min,amazon,1
2,as100,3.609302,as100,movie,wilder napalm,glenn gordon caron,"debra winger, dennis quaid, arliss howard, m. ...",sin dato,sin dato,1993,pg-13,"comedy, science fiction",two brothers with the secret power of starting...,109,min,amazon,2

In [100]:
movies_ml = rating_movies[['indice','rating','release_year','platform','duration_int']]

In [104]:
movies_ml.head(3)

       indice    rating  release_year  platform  duration_int
index
0           0  3.467131          2014         0           113
1           1  3.439571          1994         0            92
2           2  3.609302          1993         0           109

In [103]:
d = {'amazon': 0, 'disney': 1, 'netflix': 2, 'hulu': 3}
movies_ml['platform'] = movies_ml['platform'].map(d)

C:\Users\Edwar\AppData\Local\Temp\ipykernel_11456\980910987.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_ml['platform'] = movies_ml['platform'].map(d)

In [139]:
rating_movies.to_csv('rating_movies.csv')

In [24]:
import matplotlib.pyplot as plt

In [25]:
features = ['rating','release_year','platform','duration_int']

In [144]:
r_movies = pd.read_csv('rating_movies.csv')
from sklearn.neighbors import KNeighborsClassifier

In [198]:
def get_recomendacion_movies(rating: float, duracion: int, year: int, platform: str):
    if platform=='amazon': plataforma = 1
    if platform=='netflix': plataforma = 4
    if platform=='hulu': plataforma = 3
    if platform=='disney': plataforma = 2
    year = year - 1930
    X = r_movies[['duration_int','rating','release_year','platform']]
    y = r_movies['indice']

    peliculas = []
    for k in [1,50,100,200,3000]:
        knn = KNeighborsClassifier(n_neighbors=k)

        knn.fit(X, y)

        new_point = [(duracion, rating, year,plataforma)]

        prediction = knn.predict(new_point)

        peliculas.append(r_movies.loc[*prediction, 'title'])

    return peliculas

In [200]:
get_recomendacion_movies(3.4,65,2020,'hulu')

c:\Users\Edwar\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(
c:\Users\Edwar\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(
c:\Users\Edwar\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(
c:\Users\Edwar\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(
c:\Users\Edwar\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

['dark city beneath the beat',
 'jay mohr: american treasure',
 'relentless',
 'whoop!',
 'simple gifts: the chamber music society at shaker village']

In [176]:

d = {'amazon':1,'disney':2,'hulu':3,'netflix':4}
r_movies['platform'] = r_movies['platform'].map(d)

In [201]:
r_movies.to_csv('rating_movies.csv')

In [194]:
r_movies['release_year'] = r_movies['release_year']-1930

In [195]:
r_movies.head(3)

,index,movieId,rating,id,type,title,director,cast,country,date_added,release_year,rating_movies,listed_in,description,duration_int,duration_type,platform,indice
0,0,as1,3.467131,as1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,84,g,"comedy, drama",a small fishing village must procure a local d...,113,min,1,0
1,1,as10,3.439571,as10,movie,david's mother,robert allan ackerman,"kirstie alley, sam waterston, stockard channing",united states,2021-04-01,64,g,drama,sally goodson is a devoted mother to her autis...,92,min,1,1
2,2,as100,3.609302,as100,movie,wilder napalm,glenn gordon caron,"debra winger, dennis quaid, arliss howard, m. ...",sin dato,sin dato,63,pg-13,"comedy, science fiction",two brothers with the secret power of starting...,109,min,1,2